<h1>About Danielle's Calligraphy Services</h1>
<p>The place for all your calligraphy needs. Whether you're looking for a calligrapher to address your wedding invitations, or would like a program done in calligraphy, you've come to the right place. Contact us to receive a quote.</p>
<div class="btn btn-default">
<%= link_to "Contact", static_pages_contact_path %>
</div>
