<div class="panel panel-default">
	<div class="panel-body">
		<p>Thank you for your message. We will respond shortly.</p>
		<p><%= link_to "In the meantime, check out our homepage.", static_pages_index_path %></p>
	</div><!-- panel-body -->
</div><!-- panel-default -->